@tailwind components;
@tailwind base;
@tailwind utilities;

$primary: rgb(251 146 60);

input[type="range"]::-moz-range-progress {
  background-color:$primary; 
}
input[type="range"]::-moz-range-track {  
  background-color: rgb(198, 131, 77);
}

//https://codepen.io/mandelid/pen/kNBYLJ
#loading {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}